
body {
    background-color: #202731;
    overflow: hidden;

}
#sig {

    animation: moveToTop 3s ease-in-out 5.5s forwards;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#mask-line {
    stroke-dasharray: 2269;
    stroke-dashoffset: 2269;
    animation: strokeOffset 5s ease-in-out .5s forwards;
}

@keyframes strokeOffset {
    from {
        stroke-dashoffset: -2269;
    }
    to {
        stroke-dashoffset: 0;
    }
  }

@keyframes moveToTop {

    to {
        transform: translateY(-100%),
        scale(0.5,0.5);
        fill: red;
        mask: none;
    }
}