
body {
    background-color: #202731;
    overflow: hidden;

}

svg {
    animation: shrink 1s ease-in-out 4s forwards;
}
#sig {
    animation: removeMask 1s ease-in-out 4s forwards;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation: moveToTop 1s ease-in-out 4s forwards;
}

#mask-line {
    stroke-dasharray: 2269;
    stroke-dashoffset: 2269;
    animation: strokeOffset 3.5s ease-in-out .5s forwards;
}

@keyframes strokeOffset {
    from {
        stroke-dashoffset: -2269;
    }
    to {
        stroke-dashoffset: 0;
    }
  }

@keyframes removeMask {

    to {
        mask: none;
    }
}
@keyframes shrink {
    to {
        transform: scale(0.1,0.1);
    }
}
@keyframes moveToTop {
    to {
        transform: translateY(-45%);
    }
}